body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  header nav ul li a img {
    height: 13px;
  }

  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}
/*========================
SVG Styles
==========================*/
header svg:hover {
    transition: transform 0.5s ease-out;
    transform: scale(1.5);
}
.logo {
    width: 140px;
    height: 120px;
}

main li:nth-of-type(1) svg g .st1,
main li:nth-of-type(2) svg g .st1,
main li:nth-of-type(3) svg g .st1{
    fill:#FBFEFF !important;
}

main li:nth-of-type(1) svg g .st2,
main li:nth-of-type(2) svg g .st2,
main li:nth-of-type(3) svg g .st2{
    fill:#2D3339 !important;
}

main li:nth-of-type(2) svg g .st3{
    fill:#F4C6A6; !important;
}

main li:nth-of-type(3) svg g .st0{
    fill:#844B24; !important;
}

main li:nth-of-type(3) svg g .st3{
    fill:#BA8058; !important;
}


main li:nth-of-type(1) svg g .st3,
main li:nth-of-type(2) svg g .st0{
    fill:#EAAA7F; !important;
}

main #Layer_1 {
    width: 170px ; 
    height: 170px ; 
}

#nav ul li:hover a{ 
     color:lightcoral; 
    
}

#nav svg:hover {
    fill: darkgreen;
}

#logo {
    display: none;
}

@media (max-width:425px){
    header p {
        display: none;
    }
    #logo {
        display: block;
    }
}